<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Creacion de Post</title>
</head>
<body>
	<header>
		<h1>Titulo: Post de Prueba</h1>
		<p>Publicado el 26 de Marzo</p>
	</header>
	
	<main>
		<p>Pagina de creacion basica</p>
		<p>No se usar muy bien los templates para hacerla lucir mejor</p>
		<img src="https://jobs.coderhouse.com/assets/logos_coderhouse.png" alt="Logotipo Coder">
		<a href="https://plataforma.coderhouse.com/cursos/34665/python">Link hacia CoderHouse</a>
	</main>
	
	<footer>
		<p>Copyright © 2023 Kelvin Garanton</p>
	</footer>
</body>
</html>
