<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>Bienvenido</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/login/">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <header>
          <h2>Autor</h2>
          <p>Kelvin Garanton | 10/03/2023</p>
        </header>
        <p>Pagina de Inicio</p>
      </article>
    </main>
    <aside>
      <h2>Actividades Recientes</h2>
      <ul>
        <li><a href="/register/">Registro</a></li>
        <li><a href="/crear/">Crear un Post</a></li>
        <li><a href="/eliminar/">Eliminar un Post</a></li>
      </ul>
    </aside>
    <footer>
      <p>&copy;Blog creado en el 2023, con conociemientos muy basicos de HTML</p>
    </footer>
  </body>
</html>